<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		        <meta description="Work and CV of Corinne Riddell, PhD Epidemiology from McGill">
	                <meta name="viewport" content="width=device-width, initial-scale=1"> 
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
		</head>
		<body>
			<section class="page-header"> 
			<nav>				
				<a href="/" style="color: white; margin: 0 20px;">Home</a>
				<a href="/cv" style="color: white; margin: 0 20px;">CV</a>
				<a href="/teaching" style="color: white; margin: 0 20px;">Teaching</a>
				<a href="/apps" style="color: white; margin: 0 20px;">Apps</a>
				<a href="/blog" style="color: white; margin: 0 20px;">Blog</a>
			</nav>
			
			</section>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
